@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}

header,
footer {
  background-color: #000;
}

ul li a:hover {
  color: #d87d4a;
}

.p-link {
  @apply bg-[#d87d4a] hover:bg-[#fbaf85] text-sm font-medium text-white py-3 px-6;
}
